{% extends 'base.html' %}

{% block title %}
Articles list
{% endblock %}

{% block body %}
<div class="row">
    <div class="col">
        <h1>Articles</h1>
        <div>
            <ul class="list-group">

                {% for article in articles %}
                <li class="list-group-item">
                    <a href="{{ url_for('articles_app.details', article_id=article.id) }}">{{ article.title }} by {{ article.author.user.username }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <hr>
        <a href="{{ url_for('articles_app.create') }}" class="btn btn-primary btn-lg" tabindex="-1" role="button" aria-disabled="true">Create new</a>
    </div>
    <div class="row">
        <h1>Articles (count: {{ count_articles }})</h1>
    </div>
</div>
{% endblock %}



